/**
 * Header
 */

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;

  &__title {
    flex: 0 0 100%;
    margin: 3rem 0 0;
  }

  &__announcement--1 {
    position: relative;
    flex: 1 1 15rem;
    max-width: 18rem;
    height: 24rem;
    margin-top: calc(min(6vw, 4.5rem) * -1);

    p {
      width: 15rem;
      height: 15rem;
      margin: 0;
      padding: 2rem 0;
      border-radius: 50%;
      background-color: #bb9944;
      color: $bodyBg;
      font-weight: 900;
      font-size: 1.75rem;
      line-height: 1.2;
      text-align: center;

      span {
        font-size: 0.8em;
      }
    }

    figure {
      position: absolute;
      right: -3rem;
      bottom: -1.5rem;
      width: 12rem;
      height: 15rem;
    }
  }

  &__announcement--2 {
    flex: 2 2 30rem;
    max-width: 36rem;
    padding: 3rem min(6vw, 4.5rem);
    background: url("./assets/cloud01.png") no-repeat 50% 50% / contain scroll;

    h2, p {
      margin: 0 auto;
    }
    
    h2 {
      font-weight: 900;
      font-size: 1.75rem;
    }
  }
}
