// Variables

$bodyBg:               #ffffff;
$bodyColor:            #302f75; // 15%
$linkColor:            $bodyBg;
$linkHoverColor:       $bodyBg;

$breakpoint:           750px;

$fontSizeBase:         16px;
$rootFontSize:         min(3.84vw, $fontSizeBase);

$fontFamilyBase:       "Noto Sans JP", sans-serif;
$fontWeightBase:       600;
$lineHeightBase:       28.8 / ($fontSizeBase / ($fontSizeBase * 0 + 1)); // 単位除去
$letterSpacingBase:    0;
